version: '2.22'
services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./data/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - ${NGINX_PORT:-3006}:80
    networks:
      - network

  notifications-service:
    image: ghcr.io/passimx/notifications-service:latest
    container_name: notifications-service
    restart: always
    env_file: .env
    networks:
      - network
    depends_on:
      - kafka
      - redis

  chats-service:
    image: ghcr.io/passimx/chats-service:latest
    container_name: chats-service
    depends_on:
      - postgres
      - kafka
    restart: always
    env_file: .env
    networks:
      - network

  files-service:
    image: ghcr.io/passimx/files-service:latest
    container_name: files-service
    restart: always
    env_file: .env
    networks:
      - network
    volumes:
      - ./data/files:/app/data

  chats-frontend:
    image: ghcr.io/passimx/chats-frontend:latest
    container_name: chats-frontend
    restart: unless-stopped
    networks:
      - network
    depends_on:
      - chats-service
      - notifications-service
      - files-service

  postgres:
    image: postgres:17-alpine
    container_name: database
    restart: always
    env_file: .env
    environment:
      POSTGRES_DB: ${PG_DATABASE-postgres}
      POSTGRES_USER: ${PG_USERNAME-postgres}
      POSTGRES_PASSWORD: ${PG_PASSWORD-postgres}
    command: -p ${PG_PORT-5432}
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    expose:
      - ${PG_PORT-5432}
    networks:
      - network

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    restart: always
    volumes:
      - ./data/kafka:/bitnami/kafka
    networks:
      - network
    env_file: .env
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_LISTENERS=CLIENT://:${KAFKA_CLIENT_PORT-9092},INTERNAL://:${KAFKA_INTERNAL_PORT-9093},EXTERNAL://:${KAFKA_EXTERNAL_PORT-9094},
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,CLIENT:SASL_PLAINTEXT,EXTERNAL:SASL_PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://kafka:${KAFKA_CLIENT_PORT-9092},EXTERNAL://kafka:${KAFKA_EXTERNAL_PORT-9094}
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=CLIENT
      - KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL=PLAIN
      - KAFKA_CFG_SASL_ENABLED_MECHANISMS=PLAIN
      - KAFKA_CLIENT_USERS=${KAFKA_CLIENT_USERS-user}
      - KAFKA_CLIENT_PASSWORDS=${KAFKA_USER_PASSWORD-bitnami}
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=INTERNAL
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@127.0.0.1:9093
      - ALLOW_PLAINTEXT_LISTENER=yes
    command:
      - bash
      - -c
      - |
        (
          IFS="," read -ra TOPICS <<< "$$PRE_CREATE_TOPICS";
          for T in "$${TOPICS[@]}"; do
            /opt/bitnami/kafka/bin/kafka-topics.sh \
              --bootstrap-server kafka:9094 \
              --create --topic "$$T" --if-not-exists &&
            echo "Created $$T" ||
            echo "Failed to create $$T";
          done;
        ) & /opt/bitnami/scripts/kafka/run.sh

  redis:
    image: redis:latest
    container_name: redis
    command: redis-server --appendonly yes
    networks:
      - network
    expose:
      - ${REDIS_PORT:-6379}
    volumes:
      - ./data/redis:/data

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=60 # Проверка на обновление контейнеров каждые 60с
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_INCLUDE_RESTARTING=true
      - WATCHTOWER_ROLLING_RESTART=true
    command: notifications-service chats-service files-service chats-frontend
    depends_on:
      - chats-frontend
      - chats-service
      - files-service
      - notifications-service
      - nginx
    networks:
      - network

#  kafka-ui:
#    container_name: kafka-ui
#    image: provectuslabs/kafka-ui:latest
#    restart: always
#    depends_on:
#      - kafka
#    ports:
#      - "8090:8080"
#    environment:
#      - KAFKA_CLUSTERS_0_NAME=local
#      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=${KAFKA_HOST-kafka}:${KAFKA_CLIENT_PORT-9092}
#      - KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL=SASL_PLAINTEXT
#      - KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM=PLAIN
#      - KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username="${KAFKA_CLIENT_USERS-user}" password="${KAFKA_USER_PASSWORD-bitnami}";
#    networks:
#      - network
#    env_file: .env

networks:
  network:
    driver: bridge
    name: network